*{
	margin: 0;
	padding: 0;
}

body{
	font-family: sans-serif;
}

#nav-bar{
	position: sticky;
	top: 0;
	/*z-index is the stacking and floating of the elements*/
	z-index: 10;
}

.navbar{
	background-color: #7a8aff;
	padding: 0 !important;
}

.navbar-nav li{
	padding: 0 10px;
}

.navbar-nav li a{
	color: #fff !important;
	font-weight:  600;
	float: right;
}

#hero-banner{
	background-color: #7a8aff;
	color: #fff;
	padding-top: 5%;
}


.banner-title{
	font-size: 40px;
	font-weight: 600;
	margin-top: 50px;
}
/*flex direction column is the default*/
/*flex direction column-reverse can be done*/
/*flex direction row-reverse can also be done*/
/*flex-direction: column-reverse;*/

/*flex-wrap: wrap; is used in the bootstrap process*/
/*flex-wrap: wrap-reverse; is also possible*/


/*justify-content: flex-start; this is the default value which is the left part of the screen*/
/*justify-content: flex-end; justifies to the left*/

/*justify-content: space-around allows you to add space around the element. Other examples below: */